body{
    background-color: #f2fffc;
    font-family: "Crimson Text","Times New Roman", serif;
    line-height: 1.5;
}
h1, h2{
    font-family: "Open Sans Condensed","Arial", sans-serif;
    padding: 10px;
}
.titulo-principal{
    font-size: 60px;
    background-color:#851944;
    color: #f2fffc;
    text-align: center;
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid #000;
    text-transform: uppercase;
}
h2{
    font-size: 30px;
    clear: both;
}
p{
    text-align: justify;
    margin: 20px 0;
    padding: auto;
}
.conteiner{
    width: 720px;
    margin: auto;
    padding: 30px 0;
    padding-left: 10px;
}
blockquote{
    background-color: #d9e5e3;
    padding: 10px;
    border: 10px solid #c2ccca;
    border-bottom-color: #333;
    border-right-color: #fff;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
}
cite{
    font-style: italic;
    float: right;
}
.fiat{
    float: right;
}
.petrobras{
    float: left;
}
.navegacao-site{
    background-color: #3c1d3d;
    color: #f2fffc;
    text-align: center;
    text-transform: lowercase;
}
footer{
    background-color: #000;
    color: #f2fffc;
}
nav a{
    color: #f2fffc;
}
main a{
    color: #851944;
}   
aside a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside h1{
    font-size: 30px;
    margin-bottom: 25px;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
.icones-sociais li{
    display: inline-block;
}
article{
    padding-bottom: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

}
.leia-mais{
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #e6e7e8;
}
.icones-sociais a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}
.github{
    background-image: url(../_imagens/github.png);
}
.twitter{
    background-image: url(../_imagens/twitter.png);
}
.linkedin{
    background-image: url(../_imagens/linkedin.png);
}
aside, img{
    float: right;
    width: 15%;
}
aside{
    clear: right;
    box-sizing: border-box;
}
main{
    float: left;
    width: 85%;
}
footer{
    clear: both;
}