body{
    background-color: #f2fffc;
    font-family: "Crimson Text","Times New Roman", serif;
    line-height: 1.5;
}
h1, h2{
    font-family: "Open Sans Condensed","Arial", sans-serif;
    padding: 10px;
}
main h1{
    font-size: 60px;
    background-color:#851944;
    color: #f2fffc;
    text-align: center;
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid #000;
}
h2{
    font-size: 30px;
}
p{
    text-align: justify;
    margin: 20px 0;
    padding: auto;
}
blockquote{
    background-color: #d9e5e3;
    padding: 10px;
    border: 10px solid #c2ccca;
    border-bottom-color: #333;
    border-right-color: #fff;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
}
aside{
    background-color: #3c1d3d;
    color: #f2fffc;
}
footer{
    background-color: #000;
    color: #f2fffc;
}
nav a{
    color: #f2fffc;
}
main a{
    color: #851944;
}   
aside a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}
div{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
main div{
    width: 720px;
    margin: auto;
    padding: 30px 0;
}
div{
    border-left: 30px solid red;
    border-bottom: 30px solid red;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0px;
}
aside h1{
    font-size: 30px;
    margin-bottom: 25px;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
