body{
    background-color: #fafffc;
    font-family: "Crimson Text","Times New Roman", serif;
    line-height: 1.5;
}
h1, h2{
    font-family: "Open Sans Condensed","Arial", sans-serif;
    padding: 10px;
}
.titulo-principal{
    font-size: 60px;
    background-color:#851944;
    color: #f2fffc;
    text-align: center;
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid #000;
    text-transform: uppercase;
}
p{
    text-align: justify;
    margin: 20px 0;
    padding: auto;
    font-family: "Crimson Text","Times New Roman", serif;
    font-size: 20px;
}
.conteiner{
    width: 720px;
    margin: auto;
    padding: 30px 0;
    padding-left: 10px;
}
.navegacao-site{
    background-color: #3c1d3d;
    color: #f2fffc;
    text-align: center;
    text-transform: lowercase;
}
footer{
    background-color: #000;
    color: #f2fffc;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav a{
    color: #f2fffc;
}
main a{
    color: #851944;
}   
aside a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside h1{
    font-size: 30px;
    margin-bottom: 25px;
}
.icones-sociais li{
    display: inline-block;
}
.icones-sociais a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}
.github{
    background-image: url(../_imagens/github.png);
}
.twitter{
    background-image: url(../_imagens/twitter.png);
}
.linkedin{
    background-image: url(../_imagens/linkedin.png);
}
aside{
    clear: right;
    box-sizing: border-box;
    width: 15%;
    position: relative;
    top: 310px;
}
main{
    float: left;
    width: 85%;
}
aside,.minha-foto{
    float: right;
    box-sizing: border-box;
    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
    
}
.minha-foto{
    position: absolute;
    top: 0;
    right: 0;
}
.portifolio{
    display: inline-block;
    width: 45%;
    background-color: #fafffc;

}
.portifolio li{
    border: 8px solid #000;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}
.portifolio img{
   width: 250px;
   height: 151px;
}
.bmw{
    float: left;
    
}
.uol{
    float: right
    
}
.ibm{
    float: left;
    
}
.globo{
    float: right;
    
}